<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>backend form error handling</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container text-center mt-4">
    <form method="post" action="form4"  th:object="${errshow}">
        <div class="form-row">
            <div class="form-group col-md-4 ">
                <label>name</label>
                <input  class="form-control" id="validationServer03Feedback2" name="name" placeholder="name" type="text" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid':'' ">

                <div id="validationServer03Feedback3" th:each=" e :${#fields.errors('name')}" class="invalid-feedback " th:text="${e}">

                </div>
            </div>

            <div class="form-group col-md-4">
                <label >email</label>
                <input class="form-control" id="middlename" name="email" placeholder="email" type="text" th:classappend="${#fields.hasErrors('email')} ? 'is-invalid':''">

                <div id="validationServer03Feedback1" th:each=" e :${#fields.errors('email')}" class="invalid-feedback " th:text="${e}">

                </div>
            </div>

            <div class="form-group col-md-4">
                <label >mobile</label>
                <input class="form-control" id="mobile" name="mobilenum" placeholder="mobile" type="text" th:classappend="${#fields.hasErrors('mobilenum')}?'is-invalid':''">

                <div id="validationServer03Feedback" th:each=" e :${#fields.errors('mobilenum')}" class="invalid-feedback" th:text="${e}">

                </div>



            </div>

        </div>

        <div class="container text-center">
            <button  class="btn btn-dark">Dark</button>
        </div>

    </form>

</div>


</body>
</html>