<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>date practice </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid text-center mt-4">
<form action="grusub" method="get">
<input name="hname" type="text" placeholder="enter your name">
    <input name="hdob" type="date" placeholder="dd/mm/yyyy">
<button>submit</button>
</form>
</div>

</body>
</html>