<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

	<hibernate-configuration>
	
	<session-factory>
	
	<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="connection.url">jdbc:oracle:thin:@localhost:1521:orcl</property>
		<property name="connection.username">c##PPANDA</property>
		<property name="connection.password">PPANDA</property>
		<property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="hbm2ddl.auto">create</property>
		<property name="show_sql"> true</property>
		<!-- <mapping class="org.valarmorgulis.beans.MobileSpecs"/>  -->
	<!-- 	<mapping class="org.valarmorgulis.litspractice.LaptopSpecs"/>  -->
	<!-- <mapping class="org.valarmorgulis.autowiring.book"/>
		<mapping class="org.valarmorgulis.autowiring.notebook"/> -->
		<mapping class="org.valarmorgulis.springjdbc.MovieInfo"/>
	</session-factory>
	
	
	</hibernate-configuration>